{% extends "base.html" %}

{% block content %}
<h3><a href="{% url 'index' %}">К списку</a></h3>

<h3>Выборы {{ election }}</h4>

<p><h4>Кандидаты:</h4>
<table border="1">
<tr><td><b>Имя</b></td><td><b>Голосов</b></td><td><b></b></td></tr>
{% for nominee in election.nominee_set.all %}
<tr>
<td>{{ nominee.nominee }}</td>
<td>{{ nominee.total_votes }}</td><td>
<a href="{% url 'vote' election.id nominee.id %}">Проголосовать</a></td>
</tr>
{% endfor %}
</table>

{% if i_am_nominee %}
Я кандидат на этих выборах. <a href="{% url 'dont_wannabe' election.id %}">Перестать быть кандидатом</a>
{% else %}
<a href="{% url 'wannabe' election.id %}">Выдвинуться кандидатом</a>
{% endif %}
</p>

<p><h4>Эксперты:</h4>
<table border="1">
<tr><td><b>Имя</b></td><td><b>Голосов</b></td><td><b>Проголосовал за</b></td>
{% if not i_am_expert %}<td><b></b></td>{% endif %}
</tr>
{% for expert in election.electionexpert_set.all %}
<tr>
<td>{{ expert.expert }}</td>
<td>{{ expert.delegated_votes }}</td>
<td>{{ expert.voted_for }}</td>
{% if not i_am_expert %}<td><a href="{% url 'delegate' election.id expert.id %}">Делегировать</a></td>{% endif %}
</tr>
{% endfor %}
</table>

{% if i_am_expert %}
Я эксперт на этих выборах. <a href="{% url 'dont_wannabe_expert' election.id %}">Перестать быть экспертом</a>
{% else %}
<a href="{% url 'wannabe_expert' election.id %}">Заявиться экспертом</a>
{% endif %}
</p>

<p><h4>Мой голос</h4>
{% if vote_is_free %}
Свободен.
{% elif vote_is_delegated %}
Делегирован: {{ my_vote }}. (<a href="{% url 'free_vote' election.id %}">Отозвать</a>)
{% else %}
Отдан: {{ my_vote }}. (<a href="{% url 'free_vote' election.id %}">Отозвать</a>)
{% endif %}
</p>

{% endblock %}
